//- nav menu mixin
mixin menu(className, items, activeItem)
	nav(class=className)
		ul(class=className + "__list")
				each menuItem, ndx in items
					li(class=className +"__item " + ((ndx == activeItem) ? className +"__item_active" : '' ))
						a(href= `${menuItem.url}`, class=className +"__link") #{menuItem.title}

//- icon SVG mixin
mixin icon(name, mod)
		- mod = mod || ''
		svg(class="icon icon-" + name + ' ' + mod)
				use(xlink:href="assets/img/sprite.svg#" + name)

mixin footerNavLink(title)
		li.footer-nav__item
				a(href="#").footer-nav__link= title



mixin tabsLink(dataShow, text)
		li.tabs-list__item(show-tab= dataShow)&attributes(attributes)
				span.tabs-list__text= text


mixin brandsItem(title)
		li.filter-brands__item
				label.checkbox
						| #{title}
						input(type="checkbox")
						span.checkbox-custom
								+icon('check')




